@charset "UTF-8";

*{margin: 0px; padding: 0px;}
ul{list-style: none;}
a{text-decoration: none; color:#000}
img{border: 0; vertical-align: top;}

body{
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

/* ------------------section------------------ */

#section{
  width: 100%;
}
#section .main{
  width: 100%;
  text-align: center;
}
#section .main .main_title{
  font-size: 30pt;
}
#section .main .main_txt{
  margin-top: 15px; font-size: 13pt;
}
#section .main .main_banner{
  width: 100%;
  height: 600px;
  background-image: url(../images/Capa_1.png);
  background-size: cover;
  margin-top: 100px;
  margin-bottom: 200px;
}

#section .sustainable{   
  width: calc(100% - 640px);
  border: 1px solid yellowgreen;
  margin: 0 auto;
  position: relative;
  /* overflow: hidden; */
}
#section .sustainable .sus_title{
  font-size: 20pt;
  font-weight: 400;
}
#section .sustainable .sus_txt{
  margin-top: 20px;
  font-size: 15pt;
  font-weight: 300;
}

#section .sustainable .sus_arrow{
  display: flex;
  justify-content: space-around;
}

#section .sustainable .sus_arrow .swiper-button-prev{
  position: absolute;
  top: 150px; right:100px;
  color: #000;
  border: 1px solid red;
}
#section .sustainable .sus_arrow .swiper-button-next{
  position: absolute;
  top:150px; right:10px;
  color: #000;
}
#section .sustainable .sus_congroup .swiper-wrapper{
  display: flex; 
  margin-left: 100px;
  width: 100%; 
  margin-top: 100px;
}
#section .sustainable .swiper-wrapper .swiper-slide{
  width: 800px; height: 350px;
  border: 1px solid red;
}
#section .sustainable .swiper-slide img{
  width: 640px; height: 300px;
}
#section .sustainable .swiper-slide .sus_name{
  font-size: 15pt;
}
#section .sustainable .swiper-slide .sus_name span{
  margin-right: 10px; font-weight: 600;
}

/* ------------ */

#section .change{    
  width: calc(100% - 640px);
  margin: 0 auto;   
  margin-top: 200px;
}
#section .change .change_title{
  text-align: right;
  font-size: 20pt;
  font-weight: 400;
}
#section .change .change_txt{
  text-align: right;
  margin-top: 20px;
  font-size: 15pt;
  font-weight: 300;
}
#section .change_congroup{
  width: 100%;
  height: 600px;
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  border: 1px solid red;
  
}
#section .change_congroup li{
  width: 33.333%;
  position: relative;
  border: 1px solid blue;
  
}
#section .change_congroup li .con_front img{
  width: 100%; 
  height: 600px;
  object-fit: cover;
  position: absolute;
  left: 0; top: 0;
  /* border-radius: 20px; */
}
#section .change_congroup .culture img{
  z-index: 5;
}
#section .change_congroup .people img{
  z-index: 4;
}
#section .change_congroup li .con_back{
  position: absolute; 
  left: 0; bottom: 10px;
  display: none;
} 
#section .change_congroup li .con_back .con_txt{
  margin: 0px 10px 150px 10px; 
  color: #fff;
}


/* -------------------------------------- */

#section .renylon{
  width: calc(100% - 640px);
  margin: 0 auto;  
}
#section .renylon .renylon_intro{
  display: flex;
  margin:200px 0px 100px 0px;
  position: relative;

}
#section .renylon .renylon_intro .renylon_intro_left{
  width: 50%;
  /* border: 1px solid orange; */
}
#section .renylon .renylon_intro .model{
  width: 650px;
}
#section .renylon .renylon_intro .renylon_intro_right{
  width: 50%;
  /* border: 1px solid yellowgreen; */
  position: relative;
}
#section .renylon .renylon_intro .renylon_intro_right .eclips{
  width: 500px; 
  position: absolute;
  left: 10%;top: 30%;
}
#section .renylon_intro .renylon_intro_right .renylon_title{
  position: absolute;
  top: 40%;right: 25%;
  font-size: 30pt;
}
#section .renylon_intro .renylon_txt{
  margin: 30px auto;
  width: 700px;
  text-align: left;
  font-size: 15pt;
  font-weight: 300;
  position: absolute;
  bottom:0;left:30px;
}
#section .renylon_intro .renylon_txt span{
  font-weight: 400;
}
/* -------------------- */
#section .renylon_conts{
  display: flex;
}
#section .renylon_conts .renylon_left{
  width: 50%;
}
#section .renylon_conts .renylon_left .renylon_detail{
  font-size: 20pt; font-weight: 300;
  margin-top: 80px;

}
#section .renylon_conts .renylon_left .button{
  width: 150px; 
  margin-top: 50px;
  display: flex; justify-content: space-between;
  font-size: 13pt;  
  border: 1px solid black;
  padding: 5px 10px 10px 10px;
  cursor: pointer;
}
#section .renylon_conts .renylon_left .button:hover{
  background-color: #000;
}
#section .renylon_conts .renylon_left .button:hover p,
#section .renylon_conts .renylon_left .button:hover i{
  color:#fff
}
#section .renylon_conts .renylon_left .button i{
  padding-top: 5px;
}
#section .renylon_conts .renylon_product{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#section .renylon_conts .renylon_product li{
  width:45%;
  position: relative;
  margin-top: 25px;
  overflow: hidden;
  
}

#section .renylon_conts .renylon_product img
{
  width: 100%;
  transition: all 0.8s;
}
#section .renylon_conts .renylon_product li>p {
  width: 150px; height:40px;
  position: absolute; 
  left: 25%; top:50%;
  box-sizing: border-box;
  color: #fff;
  background-color: rgb(255,255,255,0.4);
  padding: 8px;
  cursor: pointer;
  text-align: center;
  display: none;
  transition: all 0.3s;
  
}
#section .renylon_conts .renylon_product li:hover img{
  transform:scale(2);
}
#section .renylon_conts .renylon_product li:hover p{
  display: block;
}


/* ------------------------ */

#section .value{
  width: 100%;
  margin: 0 auto;
}

#section .value .value_txt{
  text-align: center;
  margin: 100px 0px 50px 0px;
}
#section .value .value_box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

#section .value_line1{
  width: 80%;
  border-bottom: 1px solid gray;
  margin-bottom: 50px;
}
#section .value_title{
  width: 100px;
  height: 100px;
  text-align: right;
  font-size: 20pt;
  border: 1px solid red;
  
}
#section .value_tabmenu{
  display: flex;
  justify-content: center;
}
#section .tab_bt{
  width: 50%;
  text-align: center;
  border: 1px solid red;
  
}
#section .tab_bt li{
  width: 100px;
  margin: 0 auto;
  line-height: 30px;
}
#section .tab_bt li p{
  width: 150px; 
  line-height: 50px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 30px;
  margin-top: 30px;
  cursor: pointer;
  font-weight: 500;
}
#section .tab_conts{
  width: 50%;
  position: relative;
}
#section .tab_conts li{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 0;left:0;
}
#section .tab_conts li img{
  width: 50%;

}
#section .tab_txt{
  margin-top: 20px;
}
#section .value_line2{
  width: 100%;
  margin-top: 200px;
}
#section .background{
  background-image: url(../images/model\ \(1\).png);
  background-size: cover;
  margin-top: 150px;
  width: 100%;
  height: 500px;
}
#section .pradagroup{
  width: 1280px;
  margin: 0 auto;
  margin-top: 100px;
}
#section .pradagroup .pradagroup_title{
  font-size: 25pt;
  margin-bottom: 50px;
}
#section .pradagroup .logo_gr{
  display: flex;
  align-items: center;
  /* background-color: yellow; */
}
#section .pradagroup .logo_gr li>a>img{
  width: 80%; height: 200px;
  object-fit: contain;
  text-align: center;
}
#section .pradagroup .logo_gr li{  
  width: 20%;
  text-align: center;
  /* border: 1px solid blue; */
  background-color: #9c9c9c1c;
}


/* -------------------------footer-------------------- */


#footer{
  margin-top: 100px;
}









































