@charset "UTF-8";

*{  
    margin: 0; padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
}
ul{list-style: none;}
a{text-decoration: none; color: black;}
img{border: none; vertical-align: top;}

.clearFix{content: ""; display: block; clear: both;}

body{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* --------------------------------------------------- */

#header .logo{
    width: 200px;
    margin: 30px auto;
}
#header .logo img{
    width: 200px;
}
#header .gnb_wrap{
    position: relative;
    background-color: white;
}
#header .gnb_wrap .gnb{
    width: 100%;
    min-width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0, 0, 0, 0.328);
    box-sizing: border-box;
    padding: 0px 250px;
    overflow: hidden;
    /* height: 350px; */
    height: 0px;
    transition: all 0.5s;
    position: absolute;
    left: 50%; top: 0;
    z-index: 30000;
    transform: translateX(-50%);
    background-color: white;
}
#header:hover .gnb_wrap .gnb{
    height: 350px;
}
#header .gnb_wrap .gnb>li{
    /* border: 1px solid black; */
    box-sizing: border-box;
}
#header .gnb_wrap .gnb>li>a{
    font-size: 18px;
    font-weight: 700;
}
#header .gnb_wrap .gnb .sub{
    margin-top: 15px;
    font-size: 14px;
    line-height: 25px;
    /* border: 1px solid red; */
    box-sizing: border-box;
}
#header .gnb_wrap .gnb .sub>li>a:hover{
    font-weight: 600;
}

#header .logo .menu{
    display: none;
}
#header .ham{
    display: none;
}
/* --------------------------------------------------- */

@media all and (min-width:769px) and (max-width:1024px){
#header .gnb_wrap{
    display: none;
}
#header .logo .menu{
    cursor: pointer;
}
#header .ham{
    display: block;
    width: 40%;
    background-color: rgba(236, 236, 236, 0.951);
    left: -100%; top: 0;
    position: fixed;
    z-index: 3000;
}
#header .ham .ham_gnb_home{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
    padding:80px 50px 0px 50px;
    position: relative;
}
#header .ham .ham_gnb_home li{
    width: 50px;
    text-align: center;
    /* border: 1px solid red; */
    font-size: 15pt;
    color: rgb(67, 67, 67);
    cursor: pointer;
}
#header .ham .ham_gnb_home li:hover{
    color: black;
}
#header .ham .ham_gnb_home li:nth-child(4){
    margin-left: 10px;
    font-size: 15pt;
    font-weight: 400;
    position: absolute;
    top: 20px;right:0px;
}
#header .ham .ham_gnb .ham_gnb_home i{
    font-size: 20pt;
}
#header .ham .ham_gnb li{
    border-bottom: 1px solid gray;
    line-height: 75px;
    font-size: 18pt;
    font-weight: 200;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}
#header .ham .ham_gnb li:hover{
    font-weight: 500;
}
#header .ham .ham_gnb>li>a>span{
    /* border: 1px solid blue; */
    font-size:20pt
}
#header .logo .menu{
    display: block;
}
#header .logo .menu img{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 30px; top: 35px;
}
#header .ham .ham_gnb li{
    text-align: center;
}
#header .ham .ham_gnb .ham_logo img{
    width: 180px;
    margin-left: 30px;
}
#header .ham .ham_end{
    display: flex;
}
#header .ham .ham_end li{
    width: 40px;height: 40px;
    text-align: center;
    /* border: 1px solid red; */
    font-size: 20pt;
    border-radius: 50%;
    background-color: rgba(167, 167, 167, 0.458);
    color: rgb(67, 67, 67);
    margin-left: 10px;
    margin-top: 20px;
    cursor: pointer;
}
#header .ham .ham_end li:hover{
    color: black;
}
#header .ham .ham_logo{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    padding:20px 0px 20px 0px;
    background-color: rgba(189, 189, 189, 0.582);
}
#header .ham .ham_logo img{
    width: 150px;
    cursor: pointer;
}
#header .ham .ham_logo img:hover{
    filter:invert(100%);
}
#header .ham_sub{
    display: none;
}
}

@media all and (max-width: 768px){
    #header .gnb_wrap{
        display: none;
    }
    #header .logo .menu{
        cursor: pointer;
    }
    #header .ham{
        display: block;
        width: 70%;
        background-color: rgba(236, 236, 236, 0.951);
        left: -40%; top: 0;
        position: fixed;
        z-index: 3000;
    }
    #header .ham .ham_gnb_home{
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;
        padding:50px 50px 0px 50px;
        position: relative;
    }
    #header .ham .ham_gnb_home li{
        width: 50px;
        text-align: center;
        /* border: 1px solid red; */
        font-size:10pt;
        color: rgb(67, 67, 67);
        cursor: pointer;
    }
    #header .ham .ham_gnb_home li:hover{
        color: black;
    }
    #header .ham .ham_gnb_home li:nth-child(4){
        margin-left: 10px;
        font-size: 10pt;
        font-weight: 400;
        position: absolute;
        top: 20px;right:0px;
    }
    #header .ham .ham_gnb .ham_gnb_home i{
        font-size: 10pt;
    }
    #header .ham .ham_gnb li{
        border-bottom: 1px solid gray;
        line-height: 40px;
        font-size: 10pt;
        font-weight: 200;
        display: flex;
        justify-content: space-between;
        padding: 0px 50px 0px 50px;
    }
    #header .ham .ham_gnb li:hover{
        font-weight: 500;
    }
    #header .ham .ham_gnb>li>a>span{
        /* border: 1px solid blue; */
        font-size:15pt
    }
    #header .logo .menu{
        display: block;
    }
    #header .logo .menu img{
        width: 40px;
        height: 40px;
        position: absolute;
        left: 30px; top: 35px;
    }
    #header .ham .ham_gnb li{
        text-align: center;
    }
    #header .ham .ham_gnb .ham_logo img{
        width: 180px;
        margin-left: 30px;
    }
    #header .ham .ham_end{
        display: flex;
    }
    #header .ham .ham_end li{
        width: 20px;height: 20px;
        text-align: center;
        /* border: 1px solid red; */
        font-size: 10pt;
        border-radius: 50%;
        background-color: rgba(167, 167, 167, 0.458);
        color: rgb(67, 67, 67);
        margin-left: 10px;
        margin-top: 15px;
        cursor: pointer;
    }
    #header .ham .ham_end li:hover{
        color: black;
    }
    #header .ham .ham_logo{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
        padding:20px 0px 20px 0px;
        background-color: rgba(189, 189, 189, 0.582);
    }
    #header .ham .ham_logo img{
        width: 80px;
        cursor: pointer;
    }
    #header .ham .ham_logo img:hover{
        filter:invert(100%);
    }
    #header .ham_sub{
        display: none;
    }
}