@charset "UTF-8";

*{  
    margin: 0; padding: 0;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
}
ul{list-style: none;}
a{text-decoration: none; color: black;}
img{border: none; vertical-align: top;}

.clearFix{content: ""; display: block; clear: both;}

body{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
/* --------------------------------------------------- */
#section{
    width: 1280px;
    margin: 40px auto;
}
#section .section2 .discover{
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
#section .section2 .discover .dis:hover img{
    filter: grayscale(1);
}
#section .section2 .discover .dis_01,
#section .section2 .discover .dis_04{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    /* border: 1px solid red;; */
}
#section .section2 .discover .dis_01 img,
#section .section2 .discover .dis_04 img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    transform: scale(1.1);
}
#section .section2 .discover .dis_01 .dis_info_01,
#section .section2 .discover .dis_04 .dis_info_04{
    display: none;
}
#section .section2 .discover .dis_01:hover .dis_info_01,
#section .section2 .discover .dis_04:hover .dis_info_04{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}
/* #section .section2 .discover .dis_01 .dis_info_01>img,
#section .section2 .discover .dis_04 .dis_info_04>img{
    position: absolute;
    left: 0;
    top: 0;
} */
#section .section2 .discover .dis_01 .dis_info_01>p,
#section .section2 .discover .dis_04 .dis_info_04>p{
    width: 400px;
    height: 200px;
    position: absolute;
    left: 50%; 
    bottom: 0px;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.414);
    padding: 50px 0px;
    box-sizing: border-box;
}
/* --------------------------------------------------- */
#section .section2 .discover .dis_02,
#section .section2 .discover .dis_03{
    width: 800px;
    height: 400px;
    overflow: hidden;
    /* border: 1px solid red;; */
    position: relative;
}
#section .section2 .discover .dis_02>img,
#section .section2 .discover .dis_03>img{
    width: 100%;
    object-fit: cover;
    transform: scale(1.12);
}
#section .section2 .discover .dis_02 .dis_info_02,
#section .section2 .discover .dis_03 .dis_info_03{
    width: 400px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.414);
    color: white;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: none;
}
#section .section2 .discover .dis_02:hover .dis_info_02,
#section .section2 .discover .dis_03:hover .dis_info_03{
    display: block;
}
#section .section2 .discover .dis_02:hover .dis_info_02>p,
#section .section2 .discover .dis_03:hover .dis_info_03>p{
    margin-top: 180px;
}
#section .section2 .discover .dis_03,
#section .section2 .discover .dis_04{
    margin-top: 50px;
}
/* --------------------------------------------------- */
#section .section3 .ready .ready_list{
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
}
#section .section3 .ready .ready_list>li{
    padding-right: 15px;
}
#section .section3 .ready .ready_list>li>a>img{
    width: 200px;
    height: 300px;
    object-fit: cover;
}
/* --------------------------------------------------- */
#section .section4 .fine_wrap{
    width: 100%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    display: flex;
}
#section .section4 .fine_wrap .fine_01{
    width: 50%;
    height: 640px;
    text-align: center;
    background-color: #D9D9D9;
    font-size: 30px;
    color: #525252;
    padding-top: 150px;
    box-sizing: border-box;
}
#section .section4 .fine_wrap .fine_01 button{
    width: 200px;
    height: 60px;
    font-size: 25px;
    font-weight: 300;
    color: #525252;
    /* border-radius: 30px; */
    padding: 10px 20px;
    margin-top: 50px;
    background-color: #C0DBD3;
    border: none;
    position: relative;
}
#section .section4 .fine_wrap .fine_01 button::before{
    content: "";
    display: block;
    width: 0%;
    height: 60px;
    position: absolute;
    left: 50%; 
    top: 0px;
    transform: translateX(-50%);
    /* border-radius: 30px; */
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    box-sizing: border-box;
    transition: all 0.2s;
}
#section .section4 .fine_wrap .fine_01 button:hover::before{
    width: 100%;
}
#section .section4 .fine_wrap .fine_01 button::after{
    content: "";
    display: block;
    width: 100%;
    height: 0%;
    position: absolute;
    left: 0px; 
    top: 50%;
    transform: translateY(-50%);
    /* border-radius: 30px; */
    border-left: 1px solid white;
    border-right: 1px solid white;
    box-sizing: border-box;
    transition: all 0.2s;
}
#section .section4 .fine_wrap .fine_01 button:hover::after{
    height: 100%;
}
#section .section4 .fine_wrap .fine_02{
    width: 50%;
    height: 640px;
    overflow: hidden;
}
#section .section4 .fine_wrap .fine_02>img{
    width: 100%;
    margin-top: -400px;
}
#section .section4 .living_wrap{
    width: 100%;
    /* border: 1px solid black; */
    box-sizing: border-box;
    display: flex;
}
#section .section4 .living_wrap .living_01{
    width: 50%;
    height: 640px;
    overflow: hidden;
}
#section .section4 .living_wrap .living_01>img{
    width: 100%;
}
#section .section4 .living_wrap .living_02{
    width: 50%;
    height: 640px;
    text-align: center;
    background-color: #C0DBD3;
    font-size: 30px;
    color: #525252;
    padding-top: 230px;
    box-sizing: border-box;
}
#section .section4 .living_wrap .living_02>button{
    width: 200px;
    height: 60px;
    font-size: 25px;
    font-weight: 300;
    color: #525252;
    /* border-radius: 30px; */
    padding: 10px 20px;
    margin-top: 50px;
    border: none;
    position: relative;
}
#section .section4 .living_wrap .living_02>button::before{
    content: "";
    display: block;
    width: 0%;
    height: 60px;
    position: absolute;
    left: 50%; 
    top: 0px;
    transform: translateX(-50%);
    /* border-radius: 30px; */
    border-top: 1px solid #00000074;
    border-bottom: 1px solid #00000074;
    box-sizing: border-box;
    transition: all 0.2s;
}
#section .section4 .living_wrap .living_02>button:hover::before{
    width: 100%;
}
#section .section4 .living_wrap .living_02>button::after{
    content: "";
    display: block;
    width: 100%;
    height: 0%;
    position: absolute;
    left: 0px; 
    top: 50%;
    transform: translateY(-50%);
    /* border-radius: 30px; */
    border-left: 1px solid #00000074;
    border-right: 1px solid #00000074;
    box-sizing: border-box;
    transition: all 0.2s;
}
#section .section4 .living_wrap .living_02>button:hover::after{
    height: 100%;
}
/* --------------------------------------------------- */

#section .section5 .perfume{
    position: relative;
}
#section .section5 .perfume hr{
    width: 500px;
    color: red;
}
#section .section5 .perfume .perfume_intro{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    box-sizing: border-box;
}
#section .section5 .perfume .perfume_intro>img{
    width: 500px;
    
}
#section .section5 .perfume .perfume_intro>p{
    /* border: 1px solid black; */
    box-sizing: border-box;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    padding-top: 150px;
}
#section .section5 .perfume .perfume_list_wrap{
    /* border: 1px solid black; */
    box-sizing: border-box;
    width: 1280px;
    /* overflow: hidden; */
}
#section .section5 .perfume .perfume_list_wrap .perfume_list{
    /* border: 1px solid blue; */
    box-sizing: border-box;
    width: 300%;
    display: flex;
    justify-content: space-between;
}
#section .section5 .perfume .perfume_list_wrap .perfume_list .swiper-slide{
    /* border: 1px solid red; */
    box-sizing: border-box;
    width: 25%;
    text-align: center;
}
#section .section5 .perfume .perfume_list_wrap .perfume_list .swiper-slide img{
    width: 100%;
    /* border: 1px solid blue; */

}
#section .section5 .perfume .perfume_list_wrap .perfume_list .swiper-slide .type{
    margin-top: -60px;
    padding-bottom: 20px;
    font-size: 20px;
}
#section .section5 .perfume .perfume_list_wrap .perfume_list .swiper-slide .name{
    padding-bottom: 20px;
    color: #525252;
}
#section .section5 .perfume .perfume_list_wrap .swiper-button-next,
#section .section5 .perfume .perfume_list_wrap .swiper-button-prev{
    color: black;
}
#section .section5 .perfume .perfume_bar{
    width: 1920px;
    height: 200px;
    background-color:#e4e4e444;
    position: absolute;
    left: -330px;
    bottom: 0px;
    z-index: -1;
}
/* --------------------------------------------------- */
#section .section6{
    display: flex !important;
}
#section .section6 .prada_sphere{
    width: 50%;
}
#section .section6 .prada_sphere .sphere{
    width: 100%;
    /* border: 1px solid green; */
    box-sizing: border-box;
}
#section .section6 .prada_sphere .sphere>h1{
    font-size: 60px;
}
#section .section6 .prada_sphere .sphere>p{
    margin: 40px 0px;
}
#section .section6 .prada_sphere .sphere>button{
    width: 200px;
    height: 40px;
    font-size: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-bottom: 50px;
}
#section .section6 .prada_sphere .accodian{
    width: 400px;
    margin: 0 auto;
}
#section .section6 .prada_sphere .accodian .acco_group>li{
    border-bottom: 1px solid antiquewhite;
}
#section .section6 .prada_sphere .accodian .acco_group>li .m_title{
    height: 60px;
    line-height: 60px;
    padding: 0px 30px;
    cursor: pointer;
    border-bottom: 1px solid #525252;
    display: flex;
    justify-content: space-between;
}
#section .section6 .prada_sphere .accodian .acco_group>li .m_txt{
    padding: 20px;
    display: none;
}
/* #section .section6 .prada_sphere .accodian .acco_group>li:nth-child(1) .m_txt{
    display: block;
} */
#section .section6 .prada_sphere .accodian .acco_group>li .m_title.active{
    background-color: rgba(63, 63, 62, 0.236);
}
/* --------------------------------------------------- */
#section .section6 .thumb_gallery{
    width: 50%;
    /* border: 1px solid red; */
    box-sizing: border-box;
}
#section .section6 .thumb_gallery .swiper {
    width: 100%;
    height: 100%;
}
#section .section6 .thumb_gallery .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section .section6 .thumb_gallery .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#section .section6 .thumb_gallery .swiper {
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

#section .section6 .thumb_gallery .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  #section .section6 .thumb_gallery .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  #section .section6 .thumb_gallery .mySwiper1 {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

#section .section6 .thumb_gallery .mySwiper1 .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  #section .section6 .thumb_gallery .mySwiper1 .swiper-slide-thumb-active {
    opacity: 1;
  }

  #section .section6 .thumb_gallery .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
/* --------------------------------------------------- */
